{% extends "blog/base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8">
    <h1 class="page-title">Acerca de Salud &amp; Fuerza AR</h1>
    <p class="fs-5">
      Salud &amp; Fuerza AR es un blog dedicado a entrenamiento, alimentación
      y descanso para personas que quieren sentirse mejor y rendir más.
    </p>
    <p>
      Encontrarás rutinas de fuerza, ideas de planes semanales, tips de descanso
      y recursos pensados para acompañar tu progreso de manera simple y práctica.
    </p>
  </div>
</div>
{% endblock %}
